
.well {
  min-height: 20px;
  width:100%;
  padding: 19px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  border: 1px solid transparent;
  border-radius: 5px;
  -webkit-box-shadow: inset 0 -1px 0 #ddd;
  box-shadow: inset 0 -1px 0 #ddd !important;
}

.white {
  background-color: #FFFFFF !important;
  color: #666;
}

.white-text {
  color: #FFFFFF;
}

.list-unstyled {
  padding-left: 0;
  list-style: none;
}

.checkbox label,
.checkbox-inline label {
  padding-left: 33px;
  margin-bottom: 5px;
  line-height: 30px;
  cursor: pointer;
}

.react-tabs [role=tab][aria-selected=true]{
  border:none;
  border-bottom:2px solid #e91e63;
}

.react-tabs [role=tab]{
  min-width:25%;
  text-align: center;
  text-transform: uppercase;
}

.react-tabs [role=tablist]{
  border-bottom: none;
}